.progress {
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  background: rgba(255, 255, 255, 0.5);
  height: 5px;
  width: 100%;

  cursor: pointer;
}

.progressOuter {
  height: 100%;
  display: flex;
}

.progressPlayed {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 1);
  height: 100%;
}

.progressCache {
  position: absolute;
  left: 0;
  top: 0;
  background: #bec4ca;
  height: 100%;
}

.progressBtn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.progressPoint {
  position: relative;
  height: 100%;
  width: 1px;
  background: #fff;
  display: none;
}

.progressPointContent {
  content: '';
}
