@import '../../styles/variable.scss';
// @import '~@/skin/styles/variable.scss';

.container {
  position: relative;
}

.selected {
  padding: 50px;
  color: $basic-color;
}

.ulContainer {
  width: 60px;
}

.currentPitchOn {
  // width: 50px;
  text-align: center;
  cursor: pointer;
}
