@import './mixin.scss';

.tips {
  position: absolute;
  left: 50%;
  top: -3px;
  transform: translate(-50%, -100%);
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  color: #fff;

  &:after {
    display: block;
    height: 3px;
    width: 100%;

    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
  }
}

vp-container {
  ul,
  li {
    list-style-type: none;
  }
}

/*
=============
=============
=============
  TODO: 单独抽抽离UI样式，统一处理hover 列表内容。
*/

.floatLayerTipUiTrigger {
  &:hover {
    .floatLayerTipUiContainer {
      pointer-events: auto;
      opacity: 1;
      transform: translate3d(-50%, calc(-100% - 15px), 0);
    }
  }
}

.floatLayerTipUiContainer {
  transition: 0.3s all;
  pointer-events: none;
  opacity: 0;
  @include positionAlignCenter(0, 50%, -50%, -85%);
  z-index: 9;

  padding: 0;
  margin: 0;

  background: rgba(0, 0, 0, 0.45);
  border-radius: 3px;
  text-align: center;

  & > li {
    cursor: pointer;
    padding: 2px 5px;
  }

  li:hover {
    color: red;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;

    width: 100%;
    height: 15px;
  }
}

/*
=============
=============
=============
*/
