@import './variable.scss';
@import './mixin.scss';


:global {
  controls {
    svg {
      width: 22px;
      height: 22px;
    }
  }
}

.controlsItemContent {
  box-sizing: border-box;
  width: 40px;
  @include flex;
}

.playerInfo {
  width: 200px;
}

.container {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $container-background;
  color: $container-color;
  overflow: hidden;
}

.showControlBar {
  .controls {
    display: flex;
  }
}

.controls {
  height: 40px;
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: $controls-background;
  font-size: 14px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 10px;
  z-index: 10;
  box-sizing: border-box;
}

.controlsLeft,
.controlsRight {
  display: flex;
  justify-content: center;
  align-items: center;
  // & > vp-play,
  // & > vp-play-time,
  // & > vp-multiresolution,
  // & > vp-volume,
  // & > vp-fullscreen {
  //   padding: 0 5px;
  // }
}

.tipSwitch1,
.tipSwitch2 {
  min-width: 100px;
}

.iconSwitch1,
.iconSwitch2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconSwitch1,
.tipSwitch1 {
  display: flex;
}
.iconSwitch2,
.tipSwitch2 {
  display: none;
}

.tips {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  transition: all 0.2s ease-in;
}

.operate {
  position: relative;
  &:hover {
    .tips {
      transform: translate(-50%, -90%);
      opacity: 1;
    }
  }
}



// 功能开关键控制
.playing {
  .iconPlay,
  .tipPlay {
    display: none;
  }
  .iconPause,
  .tipPause {
    display: block;
  }
  &.pause {
    .iconPlay,
    .tipPlay {
      display: block;
    }
    .iconPause,
    .tipPause {
      display: none;
    }
  }
}




.fullscreen {
  .iconFullscreen,
  .tipFullscreen {
    display: none;
  }
  .iconExitFullscreen,
  .tipExitFullscreen {
    display: block;
  }
}

/*
  * 1. loading
  *
*/

.loadingContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.iconLoading {
  width: 50px;
  height: 50px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.animation {
  animation: rotation 0.5s linear 0s infinite running;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.playCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  & > div {
    width: 50px;
    height: 50px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

/***
* 
  1. loading
**/
.isloading {
  .playCenter {
    display: none;
  }
  .loadingContainer {
    display: block;
  }
}
