
$basic-color: #a7eeaa;
$basic-background: #fff;
$basic-background-dark: rgba(255, 255, 255, 0.5);
$basic-shadow: rgba(0, 0, 0, 0.3);

// 控制栏
$container-background: #000;
$container-color: #fff;
$controls-background: rgba(0, 0, 0, 1);



$tips-color: #fff;
$tips-background: rgba(0, 0, 0, 0.5);



// 进度条配色
$progress-cache: #bec4ca;
$progress-played: #fff;
$progress-background: rgba(255, 255, 255, 0.5);
$progress-btn: #fff;
$progress-btn-shadow: rgba(0, 0, 0, 0.3);
$progress-btn-after: #fff;
$progress-point: #fff;
$progress-thumbnail: #fff;
$progress-thumbnail-background: rgba(0, 0, 0, 0.5);;


