.tips {
  position: absolute;
  left: 50%;
  top: -3px;
  transform: translate(-50%, -100%);
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  color: #fff;

  &:after {
    display: block;
    height: 3px;
    width: 100%;

    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
  }
}
